

<div class="container">
  <h3>Create a new cocktail</h3>
  <div class="row">
    <div class="col">
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file, class: "btn btn-ghost" %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
