<h3>New dose</h3>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, label_method: :name, value_method: :id, include_blank: false %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
